.pagination_bar{
  display: flex;
  .page {
    text-align: center;
    padding: 5px;
    border: 1px solid black;
    border-right: unset;
    cursor: pointer;
  }

  .page_with_text{
    width:30px;
  }

  .page:hover{
    background-color: aliceblue;
  }

  .page:focus{
    background-color: #CDCDCD;
  }

  .selected_page{
    background-color: #CDCDCD
  }

  .page:last-child {
    border-right:1px solid black;
  }
}
